{% extends 'teacher_layout.html' %} 
{%load static%}

{% block header2 %}
<!-- الصفحة الخاصة بإضافة تمرين -->
        <main>
            <h2> إضافة تمرين</h2>
            <div id="form">
                <form id="form_content" method="post" action="{% url 'add_exer' %}" >
                    {% csrf_token %}
                    <label for="graph">رقم الفقرة</label>
                    <select id="graph" name="graph_num" required>
                        {% for paragraphs in paragraph %}
                             <option value="{{paragraphs.id}}"> {{paragraphs.pnumber}}</option>
                        {% endfor %}
                    </select>
                    <label for="aim_text">اختار الهدف</label>
                    <select id="aim" name="aim_text" required>
                        {% for aims in aim %}
                        <option value="{{aims.id}}"> {{aims.laAim}}</option>
                        {% endfor%}
                    </select>
                    <label for="aim">نوع الهدف </label>
                    <select id="aim_type" name="aim_type" required>
                        {% for aim in aims %}
                            <option value="{{aim.id}}">{{aim.aim}} </option>
                        {% endfor%}
                    </select>
                    <label>أدخل التمرين</label>
                <textarea name="exer_name" rows="10" cols="40" required>
                </textarea>
                
                <label>الاختيار الأول</label>
                <input type="text" name="lesson_answer1" required/>
                <label>الاختيار الثانى</label>
                <input type="text" name="lesson_answer2" required/>
                <label>الاختيار الثالث</label>
                <input type="text" name="lesson_answer3" required/>
                <label>الاختيار الرابع</label>
                <input type="text" name="lesson_answer4" required/>
                <label>الإجابة</label>
                <input type="text" name="correct_answer" required/>
                    
                    <br><br>
                    <input type="reset" value="إدخال جديد"/>
                    <input type="submit" name="send" value="حفظ البيانات" />
            
                </form>
            
        </div>
        
        </main>
        {% endblock %}  