{% extends 'student_layout.html' %} 
{%load static%}

{% block header1 %}
<!-- الصفحة الخاصة بعرض الأهداف التعليمية للطالب-->

<main>
  <h2>الأهداف التعليمية </h2>
  <div class="boxs">
    <h3>أهداف عامة</h3>
    
    <p>أن يتعامل الطالب مع التطبيقات العملية الموجودة بالمحاضرات </p>
    <p>أن يتعرف الطالب على كل ما هو جديد فى مجال البرمجة </p>
    <p>أن يتفاعل الطالب بشكل إيجابى مع مصادر المعرفة التى يوجهه أستاذ المادة إليها </p>
    <p>أن يبدى الطالب رأيه بكل وضوح وشفافية حول موضوعات المقرر</p>
    <p>أن يقوم الطالب بربط موضوعات كل فصل بما يسبقه وبما يلحقه من فصول ليكون المقرر متكاملا يسهل الفهم </p>
    
</div>
  <div  class="boxs">
      <h3>أهداف إجرائية </h3>
      {% for aim in aim1%}
      <p>{{aim.laAim}} </p>
      {% endfor%}
  </div>
  
</main>

{% endblock %}





